<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Annie+Use+Your+Telescope" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="dogpark">
    <div ng-include="'app/partials/navbar.html'"></div>
    



    <div class="container body-content">
        <div ng-view>

        </div>
    </div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTYUC9Vs2Luy8azl5p9qcgnWf2XlVuiRM&libraries=places"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/angular")
    <script src="https://use.fontawesome.com/143af0fa6f.js"></script>
</body>
</html>
